body,p,h1,h2,a
  margin: 0
  padding: 0

body
  font-family: $font-primary
  background-color: $background-color

p
  color: $color-text-secondary

h2
  color: $color-text-secondary

#main-container
  position: relative
  width: 80%
  margin: 0 auto 0 auto

  #flex-container
    display: flex
    min-height: 100vh
    box-sizing: border-box
    padding-top: $container-margin
    padding-bottom: $container-margin
    justify-content: center

    .content-app
      width: calc(100% - #{$drawer-width} - #{$container-margin}) 

.align-items-center
  display: -ms-inline-flex
  display: -webkit-inline-flex
  display: inline-flex
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  -ms-flex-line-pack: center
  -webkit-align-content: center
  align-content: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center