$font-primary: 'Roboto', sans-serif

$color-accent: #009688
$color-text-primary: #fff
$color-text-secondary: #a0acba
$color-text-third: #475b75

$background-color: #0a1523
$background-color-dark: #050e19
$background-color-night: #020810

$container-border-radius: 10px
$container-margin: 2.5rem
$icon-button-color: #2d3b4d
$icon-button-color-hover: #FFF

$category-chip-border: 1px solid #1e252f
$category-chip-border-hover: 1px solid $color-accent
$category-chip-text: #a0acba
$category-chip-text-hover: #ffffff
$category-chip-selected-text: #ffffff
$category-chip-selected-text-hover: #ffffff
$chip-button-action-color: #2d3b4d
$chip-button-action-color-hover: #ffffff

$button-complete-argument-icon-color: $color-accent
$button-complete-argument-background: #0c1622
$button-complete-argument-icon-color-hover: #FFFFFF
$button-complete-argument-background-hover: $color-accent

$button-completed-argument-icon-color: rgba(255, 255, 255, 0.5)
$button-completed-argument-background: rgba(0, 150, 136, 0.5)

$button-delete-argument-icon-color: #c74747
$button-delete-argument-background: #0c1622
$button-delete-argument-icon-color-hover: #FFFFFF
$button-delete-argument-background-hover: #c74747

$input-background-color: #0c1622
$input-text-color: #fff
$input-placeholder-color: #1a293a

$button-border: 1px solid #1e252f
$button-border-hover: 1px solid $color-accent

$text-button-color: #35383c
$text-button-color-hover: #475b75

$dialog-item-margin: 60px

$snackbar-error-background-color: #F44336
$snackbar-background-color: #2196F3
$snackbar-z-index: 30
$snackbar-min-height: 50px
$snackbar-message-color: #ffffff
$snackbar-message-font-size: 0.8rem

$button-action-snackbar-font-size: 0.8rem
$button-action-snackbar-color: #ffffff
$button-action-snackbar-background: rgba(255, 255, 255, 0)
$button-action-snackbar-color-hover: #FFFFFF
$button-action-snackbar-background-hover: rgba(255, 255, 255, 0.2)

$button-scroll-icon-color: #2d3b4d
$button-scroll-icon-color-hover: #FFFFFF
$button-scroll-left-background: linear-gradient(to right, rgba(0,0,0,0.6) , rgba(0,0,0,0))
$button-scroll-left-background-hover: linear-gradient(to right, rgba(0,0,0,0.6) , rgba(0,0,0,0))
$button-scroll-right-background: linear-gradient(to left, rgba(0,0,0,0.6) , rgba(0,0,0,0))
$button-scroll-right-background-hover: linear-gradient(to left, rgba(0,0,0,0.6) , rgba(0,0,0,0))

$drawer-width: 55px
$drawer-item-width: 55px
$drawer-item-height: 55px
$drawer-background-color: #050e19
$drawer-item-select-background: #020810
$drawer-item-icon-color: #97a0ab
$drawer-item-icon-color-selected: #009688
$drawer-item-icon-color-hover: #009688

$caldendar-background-color: #0a1523
$calendar-weekend-day-color: #F44336
$calendar-input-color: #ffffff

$step-description-color: #475b75
$step-indicator-background-color: #475b75
$step-indicator-completed-background-color: #009688
$step-description-completed-color: #009688
$step-transition: all 500ms ease-in

$visibility-button-switch-background: #050e19
$visibility-button-switch-selected-background: #020810
$visibility-button-switch-icon-color: #2d3b4d
$visibility-button-switch-icon-color-hover: #009688
$visibility-button-switch-icon-color-selected: #009688

$loader-background-color: #050e19
$loader-indicator-background-color: #009688