.button-delete-argument
  display: inherit
  background: none
  height: 28px
  width: 28px
  background-color: $button-delete-argument-background
  outline: none
  border: none
  cursor: pointer
  align-self: center
  justify-self: end
  margin-right: 40px
  padding: 0
  box-sizing: border-box
  border-radius: 50%
  transition: background 200ms ease-in

  i
    margin: auto
    font-size: 0.9em
    color: $button-delete-argument-icon-color
    transition: color 200ms ease-in
    padding: 0

.button-delete-argument:hover
  background-color: $button-delete-argument-background-hover

  i
    color: $button-delete-argument-icon-color-hover