#main-top-bar
  position: relative
  display: flex
  flex-direction: row
  padding: 0 0 $container-margin 0

#content-categories-filter
  position: relative
  flex-direction: row
  width: 50%
  display: flex
  flex-grow: 2
  background-color: $background-color-dark
  box-sizing: border-box
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
  -webkit-border-radius: $container-border-radius
  border-radius: $container-border-radius

  .categories-filter
    display: inherit
    overflow: hidden
    flex-grow: 1
    padding: 1.5rem 0
