.content-select-action-add
  width: 100%
  text-align: center

  h2
    margin-bottom: 60px
    color: $color-text-third

  .item-select
    width: 100%
    display: block
    margin-bottom: $dialog-item-margin

    .select-title
      font-size: 2em
      color: $color-text-secondary
      font-weight: 300
      padding: 15px 40px
      cursor: pointer

    .select-title:hover
      color: $color-text-primary