.argument-item
  position: relative
  display: block
  overflow: hidden

  .argument-header
    position: relative
    display: flex
    overflow: hidden
    box-sizing: border-box
    padding: 30px 40px 15px 40px

    .argument-title
      flex-grow: 2
      font-size: 1.6em
      color: $color-text-secondary
      font-weight: 300
      padding: 0
      cursor: pointer
      align-self: center

    .argument-title:hover
      color: $color-text-primary
    
    .argument-title-completed
      text-decoration: line-through
      color: $color-text-third
    
    .argument-title-completed:hover
      color: $color-text-secondary
    
  .argument-date
    position: relative
    padding: 0 40px 30px 40px

    .complete-date
      font-size: 0.7rem
      font-weight: 400
      color: $color-text-third
      padding: 0 
    
    .complete-within-date
      font-size: 0.7rem
      font-weight: 400
      color: $color-text-secondary
      padding: 0

  .argument-body
    position: relative
    display: block
    overflow: hidden
    background-color: $background-color-night

    .argument-description
      font-size: 0.9em
      color: $color-text-secondary
      font-weight: 300
      padding: 40px 55px
      line-height: 1.5rem

      .empty
        font-style: italic
